- content_for :page_title do
  = t('activitymon.admin.species.new.title')

= simple_form_for @species, url: { action: 'create' } do |f|
  = render 'shared/error_messages', object: @species

  .fields-group
    = f.input :name, placeholder: t('activitymon.admin.species.name'), hint: t('activitymon.admin.species.name_hint')
    = f.input :regional_no, placeholder: t('activitymon.admin.species.regional_no'), hint: t('activitymon.admin.species.regional_no_hint')
    = f.input :national_no, placeholder: t('activitymon.admin.species.national_no'), hint: t('activitymon.admin.species.national_no_hint')

  .actions
    = f.button :button, t('activitymon.admin.species.create'), type: :submit
