- content_for :page_title do
  = t('activitymon.admin.mon.create')

= simple_form_for @mon, url: admin_activitymon_mon_index_path do |f|
  = render 'shared/error_messages', object: @mon

  .fields-group
    = f.input :display_name, placeholder: t('activitymon.admin.mon.display_name'), hint: t('activitymon.admin.mon.display_name_hint')
    = f.input :national_no, placeholder: t('activitymon.admin.mon.national_no'), hint: t('activitymon.admin.mon.national_no_hint')
    = f.input :owner_trainer_no, placeholder: t('activitymon.admin.mon.owner_trainer_no'), hint: t('activitymon.admin.mon.owner_trainer_no_hint')

  .actions
    = f.button :button, t('activitymon.admin.mon.create'), type: :submit
